# Paquetes esenciales para manipulación de datos y cálculos científicos
numpy==1.26.4
pandas==1.4.2
scipy==1.14.0

# Visualización de datos
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.2
xgboost==1.7.6  # Dependiendo de si lo usas en tu modelo

# Procesos paralelos y control de tareas
joblib==1.4.2
threadpoolctl==3.5.0

#Descarga de archivos de drive
gdown==4.2.0

# Utilidades adicionales
tqdm==4.66.5  # Para barras de progreso si lo estás usando en los scripts

# Dependencias de compatibilidad y formatos de archivo
PyYAML==6.0.1  # Si estás manejando configuraciones en YAML
python-dateutil==2.8.2  # Para trabajar con fechas en pandas
